<%= stylesheet_link_tag 'transactions' %>

<h1>Active Transactions</h1>
<% if @transactions != nil && amountVisible == 1%>
    <div class="container">
    <table class="table table-light table-striped">
        <thead>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Account</th>
            <th>Edit</th>
            <th>Remove</th>
        </thead>
        <% @transactions.each do |transaction| %>
            <% if transaction.visible == true %> 
            <tr>
                <td><%= transaction.date %></td>
                <td>$<%= transaction.amount %></td>
                <td><%= transaction.description %></td>
                <td><a href=<%="/accounts/#{transaction.account.id}/"%>><%= transaction.account.name %></a></td>
                <td><a href=<%= "/transactions/edit/#{transaction.id}/" %>><div class="btn btn-primary">Edit</div></a></td>
                <td><a href=<%= "/transactions/remove/#{transaction.id}/" %>><div class="btn btn-primary">Remove</div></a></td>
            </tr>       
            <% end %>
        <% end %>
    </table>
    </div>
    <a href="/transactions/new/"><div class="btn btn-primary">Add a new transaction</div></a>
    <a href="/transactions/all"><div class="btn btn-primary">View Active/Inactive Transactions</div></a>
<% else %> 
    <h3>No transactions match this search.</h3>
    <a href="/transactions/all"><div class="btn btn-primary">View Active/Inactive Transactions</div></a>
<% end %>